@import "../css/reset.css";
@import "globals/mixin";
@import "globals/variables";

@include wrapper("normal", 80%);
@include wrapper("large", 83%);
@include img;
@include backgroundImage("banner", '../images/banner-bg.jpg', rgba(0, 0, 0, .6), "true");
@include backgroundImage("data", '../images/ramp.jpg', rgba(24, 24, 238, .5), "true");
@include backgroundImage("form ", '../images/form-bg.jpg', rgba(0, 0, 0, .7), "true");
@include backgroundImage("feedback", '../images/furnace.jpg', rgba(0, 0, 0, .7), "true");

//common styling
header .wrapper-large,
.nav-items,
.nav-item:nth-last-child(3):hover .blogs,
.banner .wrapper,
.services,
.service,
.icon span,
.request-quote .wrapper-large,
.form,
form[name=contact],
.markets,
.posts,
.statistics,
.stat,
.number,
.gallery-items,
.fb-block,
.fb-block figure::before,
.feedbacks,
.fb,
.controls,
.post,
.user,
.connects,
.connect,
.subscribe-form,
form[name=subs-email],
.links {
  @include flex(true);
}

.btn {
  @include boxModel(false, false, 11px 0, 2px solid #fab700);
  background-color: #fab700;
  @include font(#fff, false, 14px, 900, uppercase);
  &:hover {
    @include font(#fab700);
    background-color: #fff;
  }
}

/*header start here*/
header {
  .wrapper-large {
    @include boxModel(false, false, 18px 0);
  }

  nav {
    flex: 1 45%;
  }

  .logo {
    @include boxModel(50%);
  }

  .nav-items {
    @include boxModel(100%);
    @include flex(false, false, flex-end);
  }

  .nav-item {
    @include boxModel(false, false, 10px 5% 10px 0);
  }

  .nav-item a {
    @include font(#454545, false, 12px, false, uppercase);

    &:hover {
      color: #fab700
    }
  }

  .nav-item:nth-last-child(3) {
    @include position(relative);

    &>a::after {
      @include boxModel(false, false, 0 0 0 15%);
      @include font(#000, false, 12px, false, uppercase);
      @include icon('\f107');
    }

    &>a:hover::after {
      content: '\f106';
    }

    &:hover .blogs {
      @include flex(true)
    }
  }

  .blogs {
    @include boxModel(false, false, 10px 20%);
    @include display(none);
    @include position(absolute);
    @include flex(false, false, false, false, column);
    background-color: #fff;

    .blog {
      @include boxModel(false, false, 10px 0);
      @include font(#000, false, false, 600);
    }

  }

  .menu {
    @include display(none);
  }  

}

/*header ends here*/

.banner {
  @include boxModel(false, false, 101px 0 205px 0);

  .wrapper {
    @include flex(false, false, false, center, column);
  }

  .banner-sub-title {
    @include font(#fff, false, 16px, false, uppercase, center);
  }

  .banner-title {
    @include boxModel(false, false, 29px 0 35px 0);
    @include font(#fff, false, 48px, 900, capitalize, center);
  }

  p {
    @include boxModel(65%, false, 0 0 18px 0);
    @include font(#fff, false, 16px, false, false, center);
    line-height: 1.5;
  }

  .btn-start {
    @include boxModel(false, false, 11px 2%);
  }

}

/*banner ends here*/

/*services start here*/

.services {
  @include boxModel(false, false, 129px 0 135px 0);
  @include flex(false, false, space-between);

  .service {
    @include boxModel(false, false, 0 10% 0 0);
    @include flex(false, false, false, center, column);
    @include position(relative);
  }

  .service:last-child {
    @include boxModel(false, false, 0);
  }

  & .icon {
    @include boxModel(62px, 38px, 0, false);
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    @include borderRadius(5px);
    @include position(relative);
    transition: all 1s;
  }

  .icon::before,
  .icon::after {
    @include boxModel(inherit, inherit, false, inherit);
    @include borderRadius(inherit);
    @include position(absolute, 0, false, false, 0);
    content: "";
  }

  .icon::before {
    transform: rotate(60deg);
  }

  .icon::after {
    transform: rotate(-60deg);
  }

  .icon span {
    @include boxModel(inherit, inherit);
    @include flex(false, false, center, center);
    text-indent: -9999px;
  }

  .service:nth-child(1) .icon span::before {
    @include icon('\e2ca', true);
  }

  .service:nth-child(2) .icon span::before {
    @include icon('\f135', true);
  }

  .service:nth-child(3) .icon span::before {
    @include icon('\f188', true);
  }

  .service-title {
    @include boxModel(false, false, 40px 0 28px 0);
    @include font(#000, false, 16px, 900, false, center);
  }

  .service-description {
    @include font(#454545, false, 16px, false, false, center);
    line-height: 1.5;
  }
}

/*services end here*/

/*quotes start here*/

.request-quote {
  @include boxModel(false, false, 115px 0);
  background-color: #f9f9ff;
}

.description {
  @include boxModel(false, false, 30px 0 0 0);
  @include flex(false, 66.6%);
}

.quote-sub-title {
  @include font(#f9bb65, false, 16px);
}

.quote-title {
  @include boxModel(48%, false, 16px 0 34px 0);
  @include font(#252525, false, 36px, 900);
}

.quote-line {
  @include boxModel(false, false, 0 0 16px 0);
  @include font(#252525);
}

.quote-description {
  @include boxModel(95%, false, 0 0 40px 0);
  @include font(#454545, false, false, false, false, justify);
  line-height: 1.5;
}

.btn-start-now {
  @include boxModel(false, false, 11px 6%);
}

.form {
  flex: 1;
  @include boxModel(false, false, 31px, $autoMargin);
  @include flex(false, false, center, center, column);
}

form[name=contact] {
  @include boxModel(90%);
  @include flex(false, false, false, center, column);
}

.form-title {
  @include boxModel(90%, false, 0 0 16px 0);
  @include font(#fff, false, 21px, 700, false, left)
}

input,
select {
  box-sizing: border-box;
  @include boxModel(100%, false, 10px 2%, 1px solid #fff);
  background-color: transparent;
  @include font(#fff);
}

.select-service {
  @include position(relative);
}

.select-service::before {
  @include position(absolute, 25%, 5%);
  @include font(#656565);
  @include icon('\f107');
}

select {
  appearance: none;
}

option {
  @include font(#000);
}

textarea {
  box-sizing: border-box;
  min-height: 108px;
  @include boxModel(100%, false, 5px 2%, 1px solid #fff);
  @include display(block);
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  @include font(#fff);
}

input:focus,
textarea:focus,
select:focus {
  outline: transparent;
}

input[type=submit] {
  @include font(false, false, 12px);
}

.form div {
  @include boxModel(100%);
}

.select-service,
.name,
.phone,
.email,
.textarea {
  @include boxModel(false, false, 0 0 4px 0);
}

/*quotes ends here*/

/*market start here*/

section.market {
  @include boxModel(123px 0 134px 0);

  .market-title {
    @include boxModel(0 0 10px 0);
  }

  .market-sub-title {
    @include boxModel(false, false, 0 0 50px 0);
  }

  h5 {
    @include boxModel(false, false, 22px 0);
    @include font(#000, false, 21px, 700);
  }

  .description {
    @include boxModel(100%, false, 0);
    @include font(#454545, false, 16px);
    line-height: 1.5;
  }
}

.market-sub-title,
.gallery-sub-title,
.post-sub-title {
  @include font(#454545, false, 16px, false, false, center);
}

.market-title,
.gallery-title,
.post-title {
  @include font(false, false, 40px, 600, capitalize, center);
}

li.market:nth-child(2),
  .post:nth-child(2) {
    @include boxModel(false, false, 0 3%);
  }


/*market end here*/

 /*data start here */
        
 .data { @include boxModel(false,false,118px 0 137px 0);}

.statistics { @include flex(false,false,center);}

.stat {
  @include boxModel(false,false,0 10.7% 0 0);
  @include flex(false,false,false,center,column);
  &:last-child {
    @include boxModel(false,false,0);
  }
}

.number {
  @include boxModel(91px,91px);
  @include borderRadius(50%);
  background-color: #fab700;
  @include flex(false,false,center,center);
  @include font(#fff,false,21px,900);
}

.border {
  @include boxModel(false,false,25px,2px solid #fab700);
  @include borderRadius(50%);
  @include display(block);
  content: "";
}

.stat-label {
  @include boxModel(false,false,25px 0 0 0);
  @include font(#fff,false,21px,false,false,center);
}

/*data end here*/

 /*gallery start here*/
        
 .gallery {
   @include boxModel(false,false,125px 0 149px 0);

   &-title {  @include boxModel(false,false,0 0 15px 0);}
  
  &-sub-title { @include boxModel(false,false,0 0 49px 0);}
  
  &-items { @include flex(false,false,false,false,false,wrap);}
  
  &-item:first-child {
    max-height: 369px;
    @include boxModel(false,false,0 3% 30px 0);
    @include flex(false,70%);
  }
  
  &-items img {  @include boxModel(100%,100%);}
  
  &-item:nth-child(2) {
    max-height: 369px;
    @include boxModel(false,false, 0 0 30px 0);
    flex: 1;
  }
  
  &-item:nth-child(3) {
    @include boxModel(false,false, 0 3% 0 0);
    @include flex(false,50%);
  }
  
  &-item:last-child { flex: 1;}
}

/*gallery end here*/

 /*feedback start here*/
        
 .feedback {
   @include boxModel(false,false,125px 0 116px 0);

  &-title {
    @include boxModel(false,false,0 0 15px 0);
    @include font(#fff,false,42px,900,false,center); 
  }
  
  &-sub-title {
    @include boxModel(false,false,0 0 50px 0);
    @include font(#fff,false,16px,false,false,center); 
  }
}

.fb-block {
  & figure {
    max-height: 306px;
    @include flex(false,55%);
    @include position(relative);
  }
  
  & figure::before {
    @include boxModel(100%,100%);
    @include position(absolute);
    @include font(#fff,false,40px);
    @include icon('\f144');
    @include flex(false,false,center,center);
  }
  
  & figure:hover::before {
    @include font(#ffa500);
    cursor: pointer;
  }
  
  & img { @include boxModel(100%,100%);}
  
}

.clients-fb {
  @include boxModel(false,false, 78px 0 72px 2%);
  @include flex(false,45%);
}

.feedbacks {  @include boxModel(false,false, 0 0 30px 0);}

.fb {
  @include boxModel(false,false, 0 5% 0 0);
  @include flex(false,false,false,false,false,wrap);
}

.fb:last-child {   @include boxModel(false,false, 0);}

.client-name {
  @include font(#fff,false,16px,900);
  @include flex(false,50%);
}

.ratings {  flex: 1;}

.fb-description {
  @include boxModel(false,false,15px 0 0 0);
  @include font(#fff,false,16px);
  @include flex(false,100%);
  line-height: 1.5;
}

.rating {
  @include boxModel(false,false,0 2% 0 0);
  @include display(inline-block);
  text-indent: -9999px;

  &:last-child { @include boxModel(false,false,0);}
  
  &::before {
    @include font(#656565,false,12px);
    @include icon('\f005',true);
  }
  
  &:first-child::before,
  &:nth-child(2)::before,
  &:nth-child(3)::before {  @include font(#ffa500,false,12px);}
  
}

.control {
  @include boxModel(false,false,0 3% 0 0);
  @include display(block);
  text-indent: -9999px;

  &:last-child {  @include boxModel(false,false,0);}
  
  &::before {
    @include font(#656565,false,10px);
    @include icon('\f45c',true);
  }
  
}

.active-control::before,
.control:hover::before {
  @include font(#ffa500);
  cursor: pointer;
}

section:last-child { @include boxModel(false,false,125px 0 164px 0);}

.post {
  @include flex(false,false,false,false,column);
  &-title { @include boxModel(false,false,0 0 38px 0);}

&-sub-title {
  @include boxModel(60%,false,0 0 73px 0,false,$autoMargin);
  line-height: 1.5;
}

&>figure {
  min-height: 215px;
  max-height: 215px;
  @include boxModel(100%);
}

& img { @include boxModel(100%,100%);}
}

.user {
  @include boxModel(false,false,10px 0,0 0 1px 0 solid #cdcdcd);
  @include flex(false,false,false,center);
}

.user figure { @include boxModel(30px,30px);}

.user-name,
.date,
.likes,
.comments {
  @include boxModel(false,false,0 8% 0 2%);
  @include font(#454545,false,12px);
}

.date,
.likes,
.comments {   @include boxModel(false,false,0 2% 0 0);}

.likes,
.comments {
  flex: 1;
  @include font(false,false,false,false,false,center);
}

.post .post-title {
  @include boxModel(false,false,35px 0 25px 0);
  @include font(false,false,21px,900,false,left);
}

.post-description {
  @include font(#454545,false,16px);
  line-height: 1.5;
}

.comments::before,
.likes::before {  @include font(#656565,false,16px);}

.comments::before {  @include icon('\f075');}

.likes::before {  @include icon('\f004');}

 /*feedback end here*/

/*footer start here */
  
footer {
  @include boxModel(false,false,102px 0 137px 0);
  background-color: #04091e;
}

.connect {  
  @include flex(false,false,false,false,column);

  &:first-child {  @include flex(false,42%);}

&:nth-child(2) {
  @include boxModel(false,false, 0 7% 0 3%);
  @include flex(false,35%);
}

&:nth-child(3) {  flex: 1;}

&-head {
  @include boxModel(false,false, 0 0 31px 0);
  @include font(#fff,false,18px,900);
}
}

.about-us-description,
.copyright {
  @include boxModel(false,false,0 0 39px 0);
  @include font(#454545,false,16px);
  line-height: 1.5;
}

.copyright {   
  @include boxModel(false,false,0);

  & span,
& a {
  @include display(inline-block);
  @include font(#ffa500,false,false,false,capitalize);
}

& a:hover {  @include font(#fff);}

& span:first-child {  text-indent: -9999px;}

& span:first-child::before {  @include icon('\f004',true);}
}

.newsletter-description,
.follow-description {
  @include boxModel(false,false,0 0 18px 0);
  @include font(#454545,false,16px);
}

.subs-mail {  @include flex(false,90%);}

.subscribe {
  flex: 1;
 @include position(relative);

&::before {
  @include position(absolute,25%,false,false,25%);
  @include font(#fff,false,21px);
  @include icon('\f061');
}

&:hover::before {   @include font(#000);}

}

form[name=subs-email] {
  @include boxModel(100%);
  @include flex(false,false,center,center);
}

input[name=subs-mail],
input[name=email-submit] {
  @include boxModel(false,false,13px 3%,none);
  background-color: #fff;
  @include font(#000);
}

input[name=email-submit] {
  @include boxModel(false,false,14px 0);
  background-color: #ffa500;
}

input[name=email-submit] {  text-indent: -9999px;}

.link {  
  @include boxModel(false,false,0 20% 0 0);

  .link:last-child {  @include boxModel(false,false,0);}

& a {
  @include display(block);
  @include font(#fff,false,12px);
  text-indent: -9999px;
}

&:nth-child(1) a::before {  @include icon('\f39e',true);}

&:nth-child(2) a::before {   @include icon('\f099',true);}

&:nth-child(3) a::before {   @include icon('\f434',true);}

&:nth-child(4) a::before {   @include icon('\f1b4',true);}

& a:hover {  @include font(#ffa500);}

}

input[name=subs-mail]::placeholder {   @include font(#454545);}

/*footer end here */

   /*media query for 995px starts here*/
        
   @media only screen and (max-width: 995px) {

    .description {   @include flex(false,60%);}

    .quote-title {  @include boxModel(95%);}

    .form {    @include boxModel(false,false,0 3%);}

    .stat {    @include boxModel(false,false,0 7% 0 0);}

    .fb-block figure {   max-height: 800px;}

    .client-name {  @include flex(false,100%);}

    .rating {  @include boxModel(false,false,0);}

    .user-name {  @include boxModel(false,false,0 2%);}

    .date {  @include flex(false,15%);}

    .subscribe::before {  left: 5%;}

    .connect:first-child {  @include flex(false,35%);}
}
 /*media query for 995px end here*/

 /*media query for 768px starts here*/
        
 @media only screen and (max-width: 768px) {

  .nav-items {  @include display(none);}

  .menu {
    @include boxModel(false,100%);
    @include flex(true,false,right,center);
    @include position (relative);
    @include font(false,false,21px);
      text-indent: -9999px;
    
    &::before {  @include icon('\f0c9');}
  
  &:hover::before {
      @include font(#ffa500);
      content: '\f00d';
      transition: all 2s;
  }
  &:hover+.nav-items {
    @include boxModel(50%);
    z-index: 10;
    @include flex(true,false,center,center,column);
    @include position(absolute,false,0);
    transition: all 2s;
  }
  }

  .banner p { @include boxModel(100%);}

  .services {
    @include boxModel(false,false,50px 0);
    @include flex(false,false,false,false,column);

    .service { @include boxModel(false,false,25px 0);}

    .service-description {  text-align: justify;}
  }

  .request-quote .wrapper-large { @include flex(false,false,center,center,column);}

  .request-quote .description {
    @include boxModel(false,false,40px);
    @include flex(true,false,center,center,column);
  }

  .quote-sub-title,
  .quote-title,
  .quote-line,
  .quote-description {
      @include boxModel(100%);
      text-align: center;
  }

  .quote-description {  text-align: left;}

  .form {  @include boxModel(80%,false,31px);}
  
  section.market {   @include boxModel(false,false,100px 0);}

  .markets {  @include flex(false,false,false,false,column);}

  li.market:nth-child(2) {  @include boxModel(false,false,40px 0);}

  .market h5 {  text-align: center;}

  .market .description {  text-align: justify;}

  .data { @include boxModel(false,false,80px 0);}

  .statistics { @include flex(false,false,center,center,false,wrap);}

  .stat { 
    @include boxModel(false,false,20px 0);
    @include flex(false,50%);
  }

  .gallery {  @include boxModel(false,false,100px 0);}

  .feedback {   @include boxModel(false,false,80px 0);}

  .fb-block { @include flex(false,false,center,center,column);}

  .controls {  @include flex(false,false,center);}

  section:last-child {  @include boxModel(false,false,100px 0);}

  .post-sub-title {   @include boxModel(80%);}

  .posts {  @include flex(false,false,center,center,column);}

  .post:nth-child(2) {   @include boxModel(false,false,40px 0);}

  .post>figure {
      min-height: 215px;
      max-height: 215px;
      @include flex(true);
      overflow: hidden;
  }

  .post .post-title {  text-align: center;}

  .post-description {  text-align: justify;}

  .connects {  @include flex(false,false,center,center,column);}

  .connect { @include boxModel(80%);}

  .connect:nth-child(3) {  @include boxModel(false,false,50px 0);}

  .connect-head,
  .newsletter-description,
  .follow-description,
  .about-us-description,
  .copyright {  text-align: center;}

  .connect:first-child {  order: 1;}

  .subscribe::before {  left: 25%;}

  .links { @include flex(false,false,center,center);}

  .link { @include boxModel(false,false,0 5% 0 0);}

  .link a::before {  @include font(false,false,21px);}

  .user-name,
  .date {
      flex: 1;
  }
}
 /*media query for 768px end here*/

 /*media query for 540px starts here*/
        
 @media only screen and (max-width: 540px) {

  .request-quote { @include boxModel(false, false, 50px 0);}

  .banner {  @include boxModel(false,false,80px 0);}

  .statistics { @include flex(false,false,false,false,column);}

  .gallery-items {  @include flex(false,false,center,center,column);}

  .gallery-item:nth-child(1),
  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3),
  .gallery-item:nth-child(4) {
      min-height: 366px;
      max-height: 366px;
      @include boxModel(100%,false,0 0 40px 0);
      @include flex(true);
      overflow: hidden;
  }

  .gallery-item img,.post img {  height: auto;}

  .footer {  @include boxModel(false,false,100px 0);}

  .connect:nth-child(3) {   @include boxModel(false,false,80px 0);}

  .user img {  @include boxModel(false,100%);}
}

/*media query for 425px starts here*/

@media only screen and (max-width: 425px) {
  .user-name,
  .date { @include flex(false,25%);}

  .clients-fb { @include boxModel(false,false,50px 0);}

  .subscribe::before {  left: 0;}
}
/*media query for 320px starts here*/

@media only screen and (max-width: 320px) {
  .quote-title,
  .market-title,
  .gallery-title,
  .post-title { @include font(false,false,28px);}

  .post:nth-child(2) {  @include boxModel(false,false,80px 0);}
}