@import url(../css/reset.css);
.wrapper {
  width: 80%;
  margin: 0 auto; }

.wrapper-large {
  width: 83%;
  margin: 0 auto; }

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; }

.banner {
  background: url("../images/banner-bg.jpg") rgba(0, 0, 0, 0.6) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay; }

.data {
  background: url("../images/ramp.jpg") rgba(24, 24, 238, 0.5) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay; }

.form {
  background: url("../images/form-bg.jpg") rgba(0, 0, 0, 0.7) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay; }

.feedback {
  background: url("../images/furnace.jpg") rgba(0, 0, 0, 0.7) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay; }

header .wrapper-large, .nav-items, .nav-item:nth-last-child(3):hover .blogs, .banner .wrapper,
.service, .icon span, .request-quote .wrapper-large, .form, form[name=contact], .markets,
.posts, .statistics, .stat, .number, .gallery-items, .fb-block, .fb-block figure::before, .feedbacks,
.fb, .controls, .post, .user, .connects, .connect, .subscribe-form, form[name=subs-email], .links {
  display: flex; }

.btn {
  padding: 11px 0;
  border: 2px solid #fab700;
  background-color: #fab700;
  color: white;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase; }

/*header start here*/
header .wrapper-large {
  padding: 18px 0; }
header nav {
  flex: 1 45%; }
header .logo {
  width: 50%; }
header .nav-items {
  width: 100%;
  justify-content: flex-end; }
header .nav-item {
  padding: 10px 5% 10px 0; }
header .nav-item a {
  color: #454545;
  font-size: 12px;
  text-transform: uppercase; }
  header .nav-item a:hover {
    color: #fab700; }
header .nav-item:nth-last-child(3) {
  position: relative; }
  header .nav-item:nth-last-child(3) > a::after {
    padding: 0 0 0 15%;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'FontAwesome';
    font-weight: 900;
    content: "\f107"; }
  header .nav-item:nth-last-child(3) > a:hover::after {
    content: '\f106'; }
  header .nav-item:nth-last-child(3):hover .blogs {
    display: flex; }
header .blogs {
  padding: 10px 20%;
  display: none;
  position: absolute;
  background-color: #fff;
  flex-direction: column; }
  header .blogs .blog {
    padding: 10px 0;
    color: black;
    font-weight: 600; }
header .menu {
  display: none; }

/*header ends here*/
.banner {
  padding: 101px 0 205px 0; }
  .banner .wrapper {
    align-items: center;
    flex-direction: column; }
  .banner .banner-sub-title {
    color: white;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase; }
  .banner .banner-title {
    padding: 29px 0 35px 0;
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize; }
  .banner p {
    width: 65%;
    padding: 0 0 18px 0;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.5; }
  .banner .btn-start {
    padding: 11px 2%; }
  .banner .btn:hover {
    background-color: #fff;
    color: #fab700; }

/*banner ends here*/
