@import "../css/reset.css";
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper-large {
  width: 83%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.banner {
  background: url("../images/banner-bg.jpg") rgba(0, 0, 0, 0.6) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.data {
  background: url("../images/ramp.jpg") rgba(24, 24, 238, 0.5) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.form {
  background: url("../images/form-bg.jpg") rgba(0, 0, 0, 0.7) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.feedback {
  background: url("../images/furnace.jpg") rgba(0, 0, 0, 0.7) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

header .wrapper-large,
.nav-items,
.nav-item:nth-last-child(3):hover .blogs,
.banner .wrapper,
.services,
.service,
.icon span,
.request-quote .wrapper-large,
.form,
form[name=contact],
.markets,
.posts,
.statistics,
.stat,
.number,
.gallery-items,
.fb-block,
.fb-block figure::before,
.feedbacks,
.fb,
.controls,
.post,
.user,
.connects,
.connect,
.subscribe-form,
form[name=subs-email],
.links {
  display: flex;
}

.btn {
  padding: 11px 0;
  border: 2px solid #fab700;
  background-color: #fab700;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.btn:hover {
  color: #fab700;
  background-color: #fff;
}

/*header start here*/
header .wrapper-large {
  padding: 18px 0;
}
header nav {
  flex: 1 45%;
}
header .logo {
  width: 50%;
}
header .nav-items {
  width: 100%;
  justify-content: flex-end;
}
header .nav-item {
  padding: 10px 5% 10px 0;
}
header .nav-item a {
  color: #454545;
  font-size: 12px;
  text-transform: uppercase;
}
header .nav-item a:hover {
  color: #fab700;
}
header .nav-item:nth-last-child(3) {
  position: relative;
}
header .nav-item:nth-last-child(3) > a::after {
  padding: 0 0 0 15%;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f107";
}
header .nav-item:nth-last-child(3) > a:hover::after {
  content: "\f106";
}
header .nav-item:nth-last-child(3):hover .blogs {
  display: flex;
}
header .blogs {
  padding: 10px 20%;
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
}
header .blogs .blog {
  padding: 10px 0;
  color: #000;
  font-weight: 600;
}
header .menu {
  display: none;
}

/*header ends here*/
.banner {
  padding: 101px 0 205px 0;
}
.banner .wrapper {
  align-items: center;
  flex-direction: column;
}
.banner .banner-sub-title {
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.banner .banner-title {
  padding: 29px 0 35px 0;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}
.banner p {
  width: 65%;
  padding: 0 0 18px 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
.banner .btn-start {
  padding: 11px 2%;
}

/*banner ends here*/
/*services start here*/
.services {
  padding: 129px 0 135px 0;
  justify-content: space-between;
}
.services .service {
  padding: 0 10% 0 0;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.services .service:last-child {
  padding: 0;
}
.services .icon {
  width: 62px;
  height: 38px;
  padding: 0;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-radius: 5px;
  position: relative;
  transition: all 1s;
}
.services .icon::before,
.services .icon::after {
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.services .icon::before {
  transform: rotate(60deg);
}
.services .icon::after {
  transform: rotate(-60deg);
}
.services .icon span {
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  text-indent: -9999px;
}
.services .service:nth-child(1) .icon span::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\e2ca";
}
.services .service:nth-child(2) .icon span::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f135";
}
.services .service:nth-child(3) .icon span::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f188";
}
.services .service-title {
  padding: 40px 0 28px 0;
  color: #000;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
.services .service-description {
  color: #454545;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

/*services end here*/
/*quotes start here*/
.request-quote {
  padding: 115px 0;
  background-color: #f9f9ff;
}

.description {
  padding: 30px 0 0 0;
  flex-basis: 66.6%;
}

.quote-sub-title {
  color: #f9bb65;
  font-size: 16px;
}

.quote-title {
  width: 48%;
  padding: 16px 0 34px 0;
  color: #252525;
  font-size: 36px;
  font-weight: 900;
}

.quote-line {
  padding: 0 0 16px 0;
  color: #252525;
}

.quote-description {
  width: 95%;
  padding: 0 0 40px 0;
  color: #454545;
  text-align: justify;
  line-height: 1.5;
}

.btn-start-now {
  padding: 11px 6%;
}

.form {
  flex: 1;
  padding: 31px;
  border: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form[name=contact] {
  width: 90%;
  align-items: center;
  flex-direction: column;
}

.form-title {
  width: 90%;
  padding: 0 0 16px 0;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 2%;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.select-service {
  position: relative;
}

.select-service::before {
  position: absolute;
  top: 25%;
  right: 5%;
  color: #656565;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f107";
}

select {
  appearance: none;
}

option {
  color: #000;
}

textarea {
  box-sizing: border-box;
  min-height: 108px;
  width: 100%;
  padding: 5px 2%;
  border: 1px solid #fff;
  display: block;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  outline: transparent;
}

input[type=submit] {
  font-size: 12px;
}

.form div {
  width: 100%;
}

.select-service,
.name,
.phone,
.email,
.textarea {
  padding: 0 0 4px 0;
}

/*quotes ends here*/
/*market start here*/
section.market {
  width: 123px 0 134px 0;
}
section.market .market-title {
  width: 0 0 10px 0;
}
section.market .market-sub-title {
  padding: 0 0 50px 0;
}
section.market h5 {
  padding: 22px 0;
  color: #000;
  font-size: 21px;
  font-weight: 700;
}
section.market .description {
  width: 100%;
  padding: 0;
  color: #454545;
  font-size: 16px;
  line-height: 1.5;
}

.market-sub-title,
.gallery-sub-title,
.post-sub-title {
  color: #454545;
  font-size: 16px;
  text-align: center;
}

.market-title,
.gallery-title,
.post-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

li.market:nth-child(2),
.post:nth-child(2) {
  padding: 0 3%;
}

/*market end here*/
/*data start here */
.data {
  padding: 118px 0 137px 0;
}

.statistics {
  justify-content: center;
}

.stat {
  padding: 0 10.7% 0 0;
  align-items: center;
  flex-direction: column;
}
.stat:last-child {
  padding: 0;
}

.number {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background-color: #fab700;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
  font-weight: 900;
}

.border {
  padding: 25px;
  border: 2px solid #fab700;
  border-radius: 50%;
  display: block;
  content: "";
}

.stat-label {
  padding: 25px 0 0 0;
  color: #fff;
  font-size: 21px;
  text-align: center;
}

/*data end here*/
/*gallery start here*/
.gallery {
  padding: 125px 0 149px 0;
}
.gallery-title {
  padding: 0 0 15px 0;
}
.gallery-sub-title {
  padding: 0 0 49px 0;
}
.gallery-items {
  flex-wrap: wrap;
}
.gallery-item:first-child {
  max-height: 369px;
  padding: 0 3% 30px 0;
  flex-basis: 70%;
}
.gallery-items img {
  width: 100%;
  height: 100%;
}
.gallery-item:nth-child(2) {
  max-height: 369px;
  padding: 0 0 30px 0;
  flex: 1;
}
.gallery-item:nth-child(3) {
  padding: 0 3% 0 0;
  flex-basis: 50%;
}
.gallery-item:last-child {
  flex: 1;
}

/*gallery end here*/
/*feedback start here*/
.feedback {
  padding: 125px 0 116px 0;
}
.feedback-title {
  padding: 0 0 15px 0;
  color: #fff;
  font-size: 42px;
  font-weight: 900;
  text-align: center;
}
.feedback-sub-title {
  padding: 0 0 50px 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.fb-block figure {
  max-height: 306px;
  flex-basis: 55%;
  position: relative;
}
.fb-block figure::before {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  align-items: center;
  justify-content: center;
}
.fb-block figure:hover::before {
  color: #ffa500;
  cursor: pointer;
}
.fb-block img {
  width: 100%;
  height: 100%;
}

.clients-fb {
  padding: 78px 0 72px 2%;
  flex-basis: 45%;
}

.feedbacks {
  padding: 0 0 30px 0;
}

.fb {
  padding: 0 5% 0 0;
  flex-wrap: wrap;
}

.fb:last-child {
  padding: 0;
}

.client-name {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  flex-basis: 50%;
}

.ratings {
  flex: 1;
}

.fb-description {
  padding: 15px 0 0 0;
  color: #fff;
  font-size: 16px;
  flex-basis: 100%;
  line-height: 1.5;
}

.rating {
  padding: 0 2% 0 0;
  display: inline-block;
  text-indent: -9999px;
}
.rating:last-child {
  padding: 0;
}
.rating::before {
  color: #656565;
  font-size: 12px;
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f005";
}
.rating:first-child::before, .rating:nth-child(2)::before, .rating:nth-child(3)::before {
  color: #ffa500;
  font-size: 12px;
}

.control {
  padding: 0 3% 0 0;
  display: block;
  text-indent: -9999px;
}
.control:last-child {
  padding: 0;
}
.control::before {
  color: #656565;
  font-size: 10px;
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f45c";
}

.active-control::before,
.control:hover::before {
  color: #ffa500;
  cursor: pointer;
}

section:last-child {
  padding: 125px 0 164px 0;
}

.post {
  flex-direction: column;
}
.post-title {
  padding: 0 0 38px 0;
}
.post-sub-title {
  width: 60%;
  padding: 0 0 73px 0;
  margin: 0 auto;
  line-height: 1.5;
}
.post > figure {
  min-height: 215px;
  max-height: 215px;
  width: 100%;
}
.post img {
  width: 100%;
  height: 100%;
}

.user {
  padding: 10px 0;
  border: 0 0 1px 0 solid #cdcdcd;
  align-items: center;
}

.user figure {
  width: 30px;
  height: 30px;
}

.user-name,
.date,
.likes,
.comments {
  padding: 0 8% 0 2%;
  color: #454545;
  font-size: 12px;
}

.date,
.likes,
.comments {
  padding: 0 2% 0 0;
}

.likes,
.comments {
  flex: 1;
  text-align: center;
}

.post .post-title {
  padding: 35px 0 25px 0;
  font-size: 21px;
  font-weight: 900;
  text-align: left;
}

.post-description {
  color: #454545;
  font-size: 16px;
  line-height: 1.5;
}

.comments::before,
.likes::before {
  color: #656565;
  font-size: 16px;
}

.comments::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f075";
}

.likes::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f004";
}

/*feedback end here*/
/*footer start here */
footer {
  padding: 102px 0 137px 0;
  background-color: #04091e;
}

.connect {
  flex-direction: column;
}
.connect:first-child {
  flex-basis: 42%;
}
.connect:nth-child(2) {
  padding: 0 7% 0 3%;
  flex-basis: 35%;
}
.connect:nth-child(3) {
  flex: 1;
}
.connect-head {
  padding: 0 0 31px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}

.about-us-description,
.copyright {
  padding: 0 0 39px 0;
  color: #454545;
  font-size: 16px;
  line-height: 1.5;
}

.copyright {
  padding: 0;
}
.copyright span, .copyright a {
  display: inline-block;
  color: #ffa500;
  text-transform: capitalize;
}
.copyright a:hover {
  color: #fff;
}
.copyright span:first-child {
  text-indent: -9999px;
}
.copyright span:first-child::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f004";
}

.newsletter-description,
.follow-description {
  padding: 0 0 18px 0;
  color: #454545;
  font-size: 16px;
}

.subs-mail {
  flex-basis: 90%;
}

.subscribe {
  flex: 1;
  position: relative;
}
.subscribe::before {
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
  font-size: 21px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f061";
}
.subscribe:hover::before {
  color: #000;
}

form[name=subs-email] {
  width: 100%;
  align-items: center;
  justify-content: center;
}

input[name=subs-mail],
input[name=email-submit] {
  padding: 13px 3%;
  border: none;
  background-color: #fff;
  color: #000;
}

input[name=email-submit] {
  padding: 14px 0;
  background-color: #ffa500;
}

input[name=email-submit] {
  text-indent: -9999px;
}

.link {
  padding: 0 20% 0 0;
}
.link .link:last-child {
  padding: 0;
}
.link a {
  display: block;
  color: #fff;
  font-size: 12px;
  text-indent: -9999px;
}
.link:nth-child(1) a::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f39e";
}
.link:nth-child(2) a::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f099";
}
.link:nth-child(3) a::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f434";
}
.link:nth-child(4) a::before {
  font-family: "FontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
  content: "\f1b4";
}
.link a:hover {
  color: #ffa500;
}

input[name=subs-mail]::placeholder {
  color: #454545;
}

/*footer end here */
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .description {
    flex-basis: 60%;
  }
  .quote-title {
    width: 95%;
  }
  .form {
    padding: 0 3%;
  }
  .stat {
    padding: 0 7% 0 0;
  }
  .fb-block figure {
    max-height: 800px;
  }
  .client-name {
    flex-basis: 100%;
  }
  .rating {
    padding: 0;
  }
  .user-name {
    padding: 0 2%;
  }
  .date {
    flex-basis: 15%;
  }
  .subscribe::before {
    left: 5%;
  }
  .connect:first-child {
    flex-basis: 35%;
  }
}
/*media query for 995px end here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }
  .menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    font-size: 21px;
    text-indent: -9999px;
  }
  .menu::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0c9";
  }
  .menu:hover::before {
    color: #ffa500;
    content: "\f00d";
    transition: all 2s;
  }
  .menu:hover + .nav-items {
    width: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    transition: all 2s;
  }
  .banner p {
    width: 100%;
  }
  .services {
    padding: 50px 0;
    flex-direction: column;
  }
  .services .service {
    padding: 25px 0;
  }
  .services .service-description {
    text-align: justify;
  }
  .request-quote .wrapper-large {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .request-quote .description {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .quote-sub-title,
.quote-title,
.quote-line,
.quote-description {
    width: 100%;
    text-align: center;
  }
  .quote-description {
    text-align: left;
  }
  .form {
    width: 80%;
    padding: 31px;
  }
  section.market {
    padding: 100px 0;
  }
  .markets {
    flex-direction: column;
  }
  li.market:nth-child(2) {
    padding: 40px 0;
  }
  .market h5 {
    text-align: center;
  }
  .market .description {
    text-align: justify;
  }
  .data {
    padding: 80px 0;
  }
  .statistics {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .stat {
    padding: 20px 0;
    flex-basis: 50%;
  }
  .gallery {
    padding: 100px 0;
  }
  .feedback {
    padding: 80px 0;
  }
  .fb-block {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .controls {
    justify-content: center;
  }
  section:last-child {
    padding: 100px 0;
  }
  .post-sub-title {
    width: 80%;
  }
  .posts {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .post:nth-child(2) {
    padding: 40px 0;
  }
  .post > figure {
    min-height: 215px;
    max-height: 215px;
    display: flex;
    overflow: hidden;
  }
  .post .post-title {
    text-align: center;
  }
  .post-description {
    text-align: justify;
  }
  .connects {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .connect {
    width: 80%;
  }
  .connect:nth-child(3) {
    padding: 50px 0;
  }
  .connect-head,
.newsletter-description,
.follow-description,
.about-us-description,
.copyright {
    text-align: center;
  }
  .connect:first-child {
    order: 1;
  }
  .subscribe::before {
    left: 25%;
  }
  .links {
    align-items: center;
    justify-content: center;
  }
  .link {
    padding: 0 5% 0 0;
  }
  .link a::before {
    font-size: 21px;
  }
  .user-name,
.date {
    flex: 1;
  }
}
/*media query for 768px end here*/
/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .request-quote {
    padding: 50px 0;
  }
  .banner {
    padding: 80px 0;
  }
  .statistics {
    flex-direction: column;
  }
  .gallery-items {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .gallery-item:nth-child(1),
.gallery-item:nth-child(2),
.gallery-item:nth-child(3),
.gallery-item:nth-child(4) {
    min-height: 366px;
    max-height: 366px;
    width: 100%;
    padding: 0 0 40px 0;
    display: flex;
    overflow: hidden;
  }
  .gallery-item img, .post img {
    height: auto;
  }
  .footer {
    padding: 100px 0;
  }
  .connect:nth-child(3) {
    padding: 80px 0;
  }
  .user img {
    height: 100%;
  }
}
/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .user-name,
.date {
    flex-basis: 25%;
  }
  .clients-fb {
    padding: 50px 0;
  }
  .subscribe::before {
    left: 0;
  }
}
/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  .quote-title,
.market-title,
.gallery-title,
.post-title {
    font-size: 28px;
  }
  .post:nth-child(2) {
    padding: 80px 0;
  }
}

/*# sourceMappingURL=style.css.map */
